@{
    ViewBag.Title = "Error de inicio de sesión";
}

<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3 class="text-danger">El inicio de sesión con el servicio no se ha llevado a cabo correctamente.</h3>
</hgroup>
