@{
    ViewBag.Title = "Confirmación de contraseña olvidada";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Compruebe el correo electrónico para restablecer la contraseña.
    </p>
</div>
	
