@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Bloqueado";
}

<hgroup>
    <h1 class="text-danger">Bloqueado.</h1>
    <h2 class="text-danger">Esta cuenta se ha bloqueado, inténtelo de nuevo más tarde.</h2>
</hgroup>
